#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:2px;
    float:none;
    width:1280px
}
#nav {
    line-height:30px;
    background-color:peachpuff;
    height:394px;
    width:228px;
    float:right;
    padding:5px; 
    
}

section{
    width:1000px;
    height:700px;
    float:center;
    padding:10px;
    background-color:azure;
}

p{
    color:black;
    font-family:Helvetica;
    text-align:center;
    font-size: 30px;
    text-wrap:none;
    
}


    

